<% if(item) { %>
    <div class="item-form">
      <hr>

      <p>Item: <%= item.name %></p>

      <p>Price: $<%= item.price %></p>
      
      <p>Purchased: 
        <% if(item.purchased === false) { %>
          No
          <% } else { %>
            Yes
            <% } %>
      </p>

      <a href="/lists/<%= item.listId %>/items/<%= item.id %>/edit" class="btn btn btn-sm btn-outline-warning">Edit</a>
      
      <form style="display:initial" action="/lists/<%= item.listId %>/items/<%= item.id %>/destroy" method="post">
        <button type="submit" class="btn btn btn-sm btn-outline-danger">Delete</button>
      </form>

      <hr>
    </div>
  <% } %>